<script lang="ts" setup>
import { ref } from "vue";
const listEmo = ref(["Angry", "Cute", "Excited", "Pain", "Shocked", "Smile"]);
const selectEmo = ref(listEmo.value[5]);
const selectImage = ref("../../feeling_imgs/" + selectEmo.value + ".png");
const changeEmo = (emo: string) => {
  selectEmo.value = emo;
  selectImage.value = "../../feeling_imgs/" + selectEmo.value + ".png";
  for (let i = 0; i < listEmo.value.length; i++) {
    document.getElementById(listEmo.value[i])!.style.backgroundColor = "white";
  }
  document.getElementById(emo)!.style.backgroundColor = "yellow";
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-row>
            <v-col cols="8">
              <v-img :src="selectImage"></v-img>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <div class="text-center">
          <h1 class="text-center" style="font-size: 50px">{{ selectEmo }}</h1>
          <v-btn
            v-model="selectEmo"
            class="ma-5"
            style="width: 500px"
            v-for="(item, index) in listEmo"
            :key="index"
            :id="item"
            @click="changeEmo(item)"
            >{{ item }}</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
