<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
const number = ref(0);
const changeNum = () => {
  if (num.value.trim().length === 0) {
    number.value = 0;
    return;
  }
  number.value = parseInt(num.value);
};
</script>

<template>
  <v-form ref="form">
    <v-text-field
      name="name"
      label="Please Input Number"
      id="id"
      v-model="num"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      @update:model-value="changeNum()"
    ></v-text-field>
  </v-form>
  <v-container>
    <v-row>
      <v-col cols="1" v-for="item in number" :key="item">{{ item }}</v-col>
    </v-row>
  </v-container>
</template>
