<script lang="ts" setup>
import { ref } from "vue";
const sum = ref(0);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const order = ref([
  {
    id: -1,
    name: "",
    price: 0,
  },
]);
const addOrder = (item: { id: number; name: string; price: number }) => {
  order.value.push(item);
  sum.value += item.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="overflow-y: auto; height: 90vh">
          <v-row>
            <v-col cols="3" v-for="item in products" :key="item.id">
              <v-card>
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <v-card-subtitle class="text-center">{{
                  item.price
                }}</v-card-subtitle>
                <v-card-actions class="justify-center">
                  <v-btn @click="addOrder(item)">Add</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container style="height: 90">
          <v-table style="overflow-y: auto; height: 70vh">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="order.length == 1">
                <td colspan="3" class="text-center">No Data</td>
              </tr>
              <template v-else>
                <tr v-for="item in order" :key="item.id">
                  <td v-if="item.id != -1">{{ item.id }}</td>
                  <td v-if="item.id != -1">{{ item.name }}</td>
                  <td v-if="item.id != -1">{{ item.price }}</td>
                </tr>
              </template>
            </tbody>
          </v-table>
          <h1>Sum: {{ sum }}</h1>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
