<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
const num = ref(0);
const increment = () => {
  num.value++;
};
const decrease = () => {
  if (num.value > 0) {
    num.value--;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <FirstComponent :num="num"></FirstComponent><br />
        <v-btn @click="increment()">Increment</v-btn>
      </v-col>
      <v-col cols="6">
        <SecondComponent :num="num * 2"></SecondComponent><br />
        <v-btn @click="decrease()">Decrease</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
